

NET "portb[7]" IOSTANDARD = LVCMOS33;
NET "portb[6]" IOSTANDARD = LVCMOS33;
NET "portb[5]" IOSTANDARD = LVCMOS33;
NET "portb[4]" IOSTANDARD = LVCMOS33;
NET "portb[3]" IOSTANDARD = LVCMOS33;
NET "portb[2]" IOSTANDARD = LVCMOS33;
NET "portb[1]" IOSTANDARD = LVCMOS33;
NET "portb[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;


NET "portb[7]" LOC = V11;
NET "portb[6]" LOC = V12;
NET "portb[5]" LOC = V14;
NET "portb[4]" LOC = V15;
NET "portb[3]" LOC = T16;
NET "portb[2]" LOC = U14;
NET "portb[1]" LOC = T15;
NET "portb[0]" LOC = V16;
NET "clk" LOC = E3;
NET "clr" LOC = V10;
