

NET "id[3]" IOSTANDARD = LVCMOS33;
NET "id[2]" IOSTANDARD = LVCMOS33;
NET "id[1]" IOSTANDARD = LVCMOS33;
NET "id[0]" IOSTANDARD = LVCMOS33;
NET "ir[3]" IOSTANDARD = LVCMOS33;
NET "ir[2]" IOSTANDARD = LVCMOS33;
NET "ir[1]" IOSTANDARD = LVCMOS33;
NET "ir[0]" IOSTANDARD = LVCMOS33;
NET "qd[3]" IOSTANDARD = LVCMOS33;
NET "qd[2]" IOSTANDARD = LVCMOS33;
NET "qd[1]" IOSTANDARD = LVCMOS33;
NET "qd[0]" IOSTANDARD = LVCMOS33;


NET "id[3]" LOC = V10;
NET "id[1]" LOC = U12;
NET "id[0]" LOC = H6;
NET "ir[3]" LOC = T13;
NET "ir[2]" LOC = R16;
NET "ir[1]" LOC = U8;
NET "ir[0]" LOC = T8;
NET "id[2]" LOC = U11;
NET "qd[3]" LOC = V11;
NET "qd[2]" LOC = V12;
NET "qd[1]" LOC = V14;
NET "qd[0]" LOC = V15;
NET "C" LOC = T16;
NET "N" LOC = U14;
NET "V" LOC = T15;
NET "Z" LOC = V16;
NET "clk" LOC = E3;
NET "inicio" LOC = U18;


NET "C" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "inicio" IOSTANDARD = LVCMOS33;
NET "N" IOSTANDARD = LVCMOS33;
NET "V" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

NET "Z" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "clr" LOC = R13;
